@font-face {
  font-family: "MuseoSansRegular";
  src: url("../font/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("../font/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../font/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
  url("../font/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansBold";
  src: url("../font/MuseoSansBold/MuseoSansBold.eot");
  src: url("../font/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
  url("../font/MuseoSansBold/MuseoSansBold.woff") format("woff"),
  url("../font/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansLight";
  src: url("../font/MuseoSansLight/MuseoSansLight.eot");
  src: url("../font/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
  url("../font/MuseoSansLight/MuseoSansLight.woff") format("woff"),
  url("../font/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansMedium";
  src: url("../font/MuseoSansMedium/MuseoSansMedium.eot");
  src: url("../font/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
  url("../font/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
  url("../font/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansBlack";
  src: url("../font/MuseoSansBlack/MuseoSansBlack.eot");
  src: url("../font/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
  url("../font/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
  url("../font/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "BebasRegular";
  src: url("../font/BebasRegular/BebasRegular.eot");
  src: url("../font/BebasRegular/BebasRegular.eot?#iefix")format("embedded-opentype"),
  url("../font/BebasRegular/BebasRegular.woff") format("woff"),
  url("../font/BebasRegular/BebasRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BebasBook";
  src: url("../font/BebasBook/BebasBook.eot");
  src: url("../font/BebasBook/BebasBook.eot?#iefix")format("embedded-opentype"),
  url("../font/BebasBook/BebasBook.woff") format("woff"),
  url("../font/BebasBook/BebasBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BebasBold";
  src: url("../font/BebasBold/BebasBold.eot");
  src: url("../font/BebasBold/BebasBold.eot?#iefix")format("embedded-opentype"),
  url("../font/BebasBold/BebasBold.woff") format("woff"),
  url("../font/BebasBold/BebasBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BebasLight";
  src: url("../font/BebasLight/BebasLight.eot");
  src: url("../font/BebasLight/BebasLight.eot?#iefix")format("embedded-opentype"),
  url("../font/BebasLight/BebasLight.woff") format("woff"),
  url("../font/BebasLight/BebasLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BebasThin";
  src: url("../font/BebasThin/BebasThin.eot");
  src: url("../font/BebasThin/BebasThin.eot?#iefix")format("embedded-opentype"),
  url("../font/BebasThin/BebasThin.woff") format("woff"),
  url("../font/BebasThin/BebasThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
