@import "normalize.scss";
@import "./stylefont/stylefont.css";

// === variables ===
$color-white: #ffffff;
$color-white-gray: #e5e5e5;
$color-red: #ff3754;
$color-gray-light: #888888;
$color-gray: #303030;
$color-black: #000000;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 991px;
$screen-xl-max: 1199px;

/* Mobile */
@media (max-width: $screen-xs-max) {
  .desktop-only {
    display: none !important;
  }
}

/* Desktop */
@media (min-width: $screen-sm) {
  .mobile-only {
    display: none !important;
  }
}

// === / variables ===

// === common ===
* {
  box-sizing: border-box;
}

.outside {
  @media (min-width: $screen-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.inside {
  margin: 0 auto;
  @media (min-width: $screen-sm) {
    padding: 0 95px;
  }
}
// === / common ===

// === header ===
.header {
  color: $color-white;
  position: relative;
  z-index: 100;

  @media (min-width: $screen-sm) {
    background: url("./assets/background.png") no-repeat 50% 50%;
    background-size: cover;
  }

  .inside {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm) {
      justify-content: space-between;
    }

    @media (max-width: $screen-xs-max) {
      height: 100vh;
    }
  }

  &-main {
    display: flex;
    flex-basis: 50vh;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 18px;

    @media (min-width: $screen-sm) {
      padding-bottom: 60px;
    }
    @media (max-width: $screen-xs-max) {
      background: url("./assets/background.png") no-repeat 50% 50%;
      padding: 18px 14px 12px 14px;
    }

    .menu {
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      left: 0;
      align-items: center;
      display: flex;
      flex-shrink: 1;
      justify-content: space-between;
      padding: 20px;

      @media (min-width: $screen-sm) {
        &__logo {
          width: 220px;
          height: auto;
        }
      }
      &__links {
        display: flex;
        align-items: center;
        justify-content: center;

        .desktop-only {
          display: flex;
        }

        &-phone {
          margin-right: 40px;
          color: $color-white;
          span {
            font-family: "MuseoSansRegular", sans-serif;
            font-size: 24px;
            line-height: 29px;
            outline: none;
            text-decoration: none;
          }
          img {
            height: 24px;
            margin-right: 20px;
            width: 24px;
          }
        }
        &-social {
          margin-right: 56px;
          a {
            img {
              width: 34px;
              height: 34px;
            }
            & + a {
              margin-left: 30px;
            }
          }
        }
      }
    }

    &__title {
      h1 {
        font-family: "Bebas Neue", sans-serif;
        color: $color-white;
        text-transform: uppercase;

        @media (min-width: $screen-sm) {
          font-size: 90px;
          line-height: 90px;
          margin-bottom: 10px;
        }

        @media (max-width: $screen-xs-max) {
          font-size: 50px;
          margin-bottom: 16px;
          line-height: 50px;
        }
      }
      h3 {
        font-family: "MuseoSansMedium", sans-serif;
        color: $color-white;

        span {
          color: $color-red;
        }

        @media (min-width: $screen-sm) {
          font-size: 50px;
          line-height: 60px;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  &-secondary {
    display: flex;
    flex-basis: 50vh;
    flex-direction: column;
    @media (max-width: $screen-xs-max) {
      padding: 10px;
    }
    @media (min-width: $screen-sm) {
      justify-content: space-around;
      padding-bottom: 18px;
    }
    &__action {
      background: $color-red;
      border: 1px solid $color-red;
      border-radius: 4px;
      color: $color-white;
      cursor: pointer;
      display: inline-block;
      font-family: "MuseoSansRegular", sans-serif;
      font-size: 20px;
      margin: 0;
      line-height: 19px;
      outline: none;
      padding: 20px 0;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @media (min-width: $screen-sm) {
        order: 2;
        max-width: 412px;
      }
      @media (max-width: $screen-xs-max) {
        margin-bottom: 30px;
      }
      &:hover {
        background: $color-white;
        border-radius: 4px;
        color: $color-red;
        border: 1px solid $color-red;
      }
    }

    .rating {
      &-group {
        align-items: center;
        color: $color-gray;
        display: flex;

        &__position {
          @media (min-width: $screen-sm) {
            width: 70px;
            height: auto;
          }
          @media (max-width: $screen-xs-max) {
            display: block;
            height: auto;
            max-width: 100%;
          }
        }
        &__country {
          @media (min-width: $screen-sm) {
            width: 20px;
            height: 20px;
          }
          @media (max-width: $screen-xs-max) {
            display: block;
            height: auto;
            max-width: 100%;
          }
        }

        &__name {
          font-family: "MuseoSansRegular", sans-serif;
          outline: none;
          text-decoration: none;

          @media (min-width: $screen-sm) {
            color: $color-white;
            font-size: 24px;
            margin-left: 60px;
            line-height: 29px;
          }

          @media (max-width: $screen-xs-max) {
            color: $color-gray;
            font-size: 14px;
            margin-left: 14px;
            line-height: 17px;
          }
        }
        .active {
          color: $color-white;
          background: $color-red;
          border-radius: 4px;
          cursor: pointer;
          padding: 6px 12px 6px 6px;
          text-align: center;

          @media (min-width: $screen-sm) {
            font-size: 36px;
            line-height: 43px;
          }

          @media (max-width: $screen-xs-max) {
            font-size: 20px;
            line-height: 24px;
          }
        }

        @media (min-width: $screen-sm) {
          margin-bottom: 10px;
        }
      }
      @media (min-width: $screen-sm) {
        order: 1;
      }
    }
  }
}
// === / header ===

// === person ===
.person {
  background-color: $color-white;
  position: relative;
  z-index: -1;

  &-title {
    color: $color-red;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $screen-sm) {
      font-size: 70px;
      margin: 60px 0;
      line-height: 70px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 40px;
      line-height: 40px;
      margin-top: 70px;
      margin-bottom: 34px;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    &__left,
    &__right {
      background-color: $color-white;
      border: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 50px;
      }
      &:not(:last-child) {
        margin-right: 50px;
      }

      img {
        width: 30px;
        height: 25px;
      }
    }
    &__num {
      color: $color-gray;
      font-family: "MuseoSansBold", sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 60px;
    }
  }

  .person-slid {
    position: relative;

    @media (min-width: $screen-sm) {
      margin-bottom: 60px;
    }

    @media (min-width: $screen-lg) {
      &__border1 {
        position: absolute;
        top: 0;
        left: 0;
      }
      &__border2 {
        position: absolute;
        top: 0;
        right: 0;
        transform: scale(-1, 1);
      }
    }

    @media (max-width: $screen-lg-max) {
      &__border1,
      &__border2 {
        display: none;
      }
    }

    &__inform {
      @media (min-width: $screen-sm) {
        margin: 0 auto 40px;
        width: 85%;
      }

      @media (max-width: $screen-xs-max) {
        margin: 0 auto;
      }
      &-wrapper {
        display: flex;
        align-items: flex-start;

        @media (max-width: $screen-xs-max) {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .content {
        @media (max-width: $screen-xs-max) {
          order: 2;
          text-align: center;
        }
        &__surname {
          color: $color-red;
          font-family: "Bebas Neue", sans-serif;
          margin-bottom: 14px;
          text-transform: uppercase;

          @media (min-width: $screen-sm) {
            font-size: 70px;
            line-height: 70px;
          }

          @media (max-width: $screen-xs-max) {
            font-size: 40px;
            line-height: 40px;
          }
        }
        &__name {
          color: $color-gray-light;
          font-family: "Bebas Neue", sans-serif;
          margin-bottom: 20px;
          text-transform: uppercase;

          @media (min-width: $screen-sm) {
            font-size: 40px;
            line-height: 40px;
          }

          @media (max-width: $screen-xs-max) {
            font-size: 30px;
            line-height: 30px;
          }
        }
        &__status {
          color: $color-gray;
          font-family: "MuseoSanslight", sans-serif;
          margin-bottom: 40px;
          text-transform: uppercase;

          @media (min-width: $screen-sm) {
            font-size: 14px;
            line-height: 16px;
          }

          @media (max-width: $screen-xs-max) {
            font-size: 14px;
            line-height: 16px;
          }
        }
        &__action {
          border: 1px solid $color-gray-light;
          background-color: $color-white;
          color: $color-gray-light;
          border-radius: 4px;
          cursor: pointer;
          display: inline-block;
          font-size: 13px;
          line-height: 16px;
          margin: 0 0 24px 0;
          outline: none;
          padding: 12px 70px;
          text-decoration: none;
          text-transform: uppercase;
        }

        &__reward {
          font-family: "MuseoSansRegular", sans-serif;
          font-size: 18px;

          @media (min-width: $screen-sm) {
            margin-bottom: 30px;
          }
          @media (max-width: $screen-xs-max) {
            text-align: start;
            margin-bottom: 70px;
            padding-left: 20px;
          }

          li {
            color: $color-gray;
            list-style-image: url("./assets/list.svg");

            &:not(:last-child) {
              margin-bottom: 20px;
            }
            @media (min-width: $screen-sm) {
              padding-left: 30px;
            }
            @media (max-width: $screen-xs-max) {
              padding: 0 0 0 20px;
            }
          }
        }
        .description {
          @media (min-width: $screen-sm) {
            margin-bottom: 20px;
          }
          @media (max-width: $screen-xs-max) {
            margin-bottom: 30px;
          }
          &__title {
            color: $color-black;
            font-size: 18px;
            font-family: "MuseoSansMedium", sans-serif;
            margin-bottom: 10px;

            @media (max-width: $screen-xs-max) {
              text-align: start;
            }
          }
          &__text {
            color: $color-gray;
            font-family: "MuseoSansRegular", sans-serif;
            line-height: 22px;
            text-align: justify;
            width: 90%;

            @media (min-width: $screen-sm) {
              font-size: 18px;
            }
            @media (max-width: $screen-xs-max) {
              font-size: 16px;
            }
          }
        }
      }

      &-photo {
        @media (min-width: $screen-lg) {
          width: 550px;
          height: auto;
        }

        @media (max-width: $screen-xs-max) {
          order: 1;
          display: block;
          height: auto;
          margin-bottom: 30px;
        }
        @media (max-width: $screen-lg-max) {
          max-width: 50%;
        }
      }
    }
  }

  .slick-slider {
    .slick-dots {
      display: none !important;
    }
    button {
      display: none !important;
    }
  }
}
// === / person ===

// === partners ===
.partners {
  background: linear-gradient(180deg, #fdf4f4 0%, #ecf3ec 100%);
  @media (min-width: $screen-sm) {
    padding: 0 20px 70px 20px;
    margin-top: 80px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 40px 20px 50px 20px;
  }

  .inside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    color: $color-red;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $screen-sm) {
      font-size: 70px;
      margin: 60px 0;
      line-height: 70px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 40px;
      line-height: 40px;
      margin-top: 70px;
      margin-bottom: 34px;
    }
  }

  &-years {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    &__year {
      font-family: "MuseoSansRegular", sans-serif;
      background: $color-white;
      border: 1px solid $color-gray-light;
      box-sizing: border-box;
      border-radius: 4px;
      color: $color-gray-light;
      padding: 10px 12px;
      outline: none;
      text-decoration: none;
      margin-bottom: 10px;
      margin-right: 5px;
    }
  }

  &-cards {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-sm) {
      flex-wrap: wrap;
    }
    @media (max-width: $screen-xs-max) {
      flex-direction: column;
    }
  }
  &-card {
    @media (max-width: $screen-xs-max) {
      display: block;
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      flex-basis: 30%;
      margin: 0 10px 60px 10px;
    }

    &__logo {
      @media (min-width: $screen-sm) {
        margin-bottom: 26px;
        width: 412px;
        height: auto;
      }
      @media (max-width: $screen-xs-max) {
        display: block;
        height: auto;
        margin-bottom: 20px;
        max-width: 100%;
      }
    }
    &__title {
      color: $color-gray;
      font-family: "MuseoSansMedium", sans-serif;
      font-size: 18px;
      margin-bottom: 16px;

      @media (min-width: $screen-sm) {
        text-align: start;
        padding-left: 16px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 10px;
      }
    }
    &__text {
      color: $color-gray;
      font-family: "MuseoSansRegular", sans-serif;

      @media (min-width: $screen-sm) {
        text-align: start;
        font-size: 18px;
        padding-left: 16px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        padding-left: 10px;
      }
    }
  }
}
// === / partners ===

// === footer ===
.footer {
  @media (min-width: $screen-sm) {
    padding: 20px 86px 20px 86px;
  }
  @media (max-width: $screen-xs-max) {
    padding: 20px 16px 20px 16px;
  }
  .inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-copywriting {
    color: $color-gray;
    font-family: "MuseoSansRegular", sans-serif;
    font-size: 18px;

    @media (max-width: $screen-xs-max) {
      text-transform: lowercase;
    }
  }

  &-logo {
    width: 38px;
    height: 38px;
  }
}
// === / footer ===

// === active-burger ===
.menu--active {
  background-color: $color-white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;

  .menu__logo {
    filter: invert(1);
  }

  .menu__links-phone {
    color: $color-black;
  }

  .sticky-burger {
    filter: invert(1);
  }
}

.active-burger-title {
  padding-top: 110px;
}
// ===  / active-burger ===
