@import "normalize.scss";

// === mixins ===
@mixin font-main {
  font-family: "Bebas Neue", sans-serif;
}

// === / mixing ===

// === variables ===
$color-white: #ffffff;
$color-red: #ff3754;
$color-gray-light: #888888;
$color-gray: #303030;
$color-black: #000000;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 991px;
$screen-xl-max: 1199px;

/* Mobile */
@media (max-width: $screen-xs-max) {
  .desktop-only {
    display: none !important;
  }
}

/* Desktop */
@media (min-width: $screen-sm) {
  .mobile-only {
    display: none !important;
  }
}

// === / variables ===

// === common ===
* {
  box-sizing: border-box;
}
body {
}

.outside {
  @media (min-width: $screen-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.inside {
  margin: 0 auto;
  max-width: 1920px;
}

// === / common ===

// === header ===
.header {
  color: $color-white;

  @media (min-width: $screen-sm) {
    background: url("./assets/background.png") no-repeat 50% 50%;
    background-size: cover;
  }

  .inside {
    display: flex;
    flex-direction: column;
    height: 100vh;

    @media (min-width: $screen-sm) {
      justify-content: space-between;
    }
  }

  &-main {
    display: flex;
    flex-basis: 50vh;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 18px;

    @media (min-width: $screen-sm) {
      padding-bottom: 60px;
    }
    @media (max-width: $screen-xs-max) {
      background: url("./assets/background.png") no-repeat 50% 50%;
      background-size: cover;
      padding: 18px 14px 12px 14px;
    }

    .menu {
      align-items: center;
      display: flex;
      flex-shrink: 1;
      justify-content: space-between;

      @media (min-width: $screen-sm) {
        &__logo {
          width: 220px;
          height: auto;
        }
      }
      &__links {
        display: flex;
        align-items: center;
        justify-content: center;

        .desktop-only {
          display: flex;
        }

        &-phone {
          margin-right: 40px;
          a {
            color: $color-white;
            font-size: 24px;
            line-height: 29px;
            outline: none;
            text-decoration: none;
          }
          img {
            height: 24px;
            margin-right: 20px;
            width: 24px;
          }
        }
        &-social {
          margin-right: 56px;
          a {
            img {
              width: 34px;
              height: 34px;
            }
            & + a {
              margin-left: 30px;
            }
          }
        }
      }
    }

    &__title {
      @include font-main;
      h1 {
        color: $color-white;
        text-transform: uppercase;

        @media (min-width: $screen-sm) {
          font-size: 90px;
          line-height: 90px;
          margin-bottom: 10px;
        }

        @media (max-width: $screen-xs-max) {
          font-size: 50px;
          margin-bottom: 16px;
          line-height: 50px;
        }
      }
      h3 {
        color: $color-white;
        font-family: sans-serif;

        span {
          color: $color-red;
        }

        @media (min-width: $screen-sm) {
          font-size: 50px;
          line-height: 60px;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  &-secondary {
    display: flex;
    flex-basis: 50vh;
    flex-direction: column;
    @media (max-width: $screen-xs-max) {
      padding: 10px;
    }
    @media (min-width: $screen-sm) {
      justify-content: space-around;
      padding-bottom: 18px;
    }
    &__action {
      background: $color-red;
      border-radius: 4px;
      color: $color-white;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      margin: 0;
      line-height: 19px;
      outline: none;
      padding: 20px 0;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      @media (min-width: $screen-sm) {
        order: 2;
        max-width: 412px;
      }
      @media (max-width: $screen-xs-max) {
        margin-bottom: 30px;
      }
    }

    .rating {
      &-group {
        align-items: center;
        color: $color-gray;
        display: flex;

        &__position {
          @media (min-width: $screen-sm) {
            width: 70px;
            height: auto;
          }
          @media (max-width: $screen-xs-max) {
            display: block;
            height: auto;
            max-width: 100%;
          }
        }
        &__country {
          @media (min-width: $screen-sm) {
            width: 20px;
            height: 20px;
          }
          @media (max-width: $screen-xs-max) {
            display: block;
            height: auto;
            max-width: 100%;
          }
        }

        &__name {
          outline: none;
          text-decoration: none;

          @media (min-width: $screen-sm) {
            color: $color-white;
            font-size: 24px;
            margin-left: 60px;
            line-height: 29px;
          }

          @media (max-width: $screen-xs-max) {
            color: $color-gray;
            font-size: 14px;
            margin-left: 14px;
            line-height: 17px;
          }
        }
        .active {
          color: $color-white;
          background: $color-red;
          border-radius: 4px;
          cursor: pointer;
          padding: 6px 12px 6px 6px;
          text-align: center;

          @media (min-width: $screen-sm) {
            font-size: 36px;
            line-height: 43px;
          }

          @media (max-width: $screen-xs-max) {
            font-size: 20px;
            line-height: 24px;
          }
        }

        @media (min-width: $screen-sm) {
          margin-bottom: 10px;
        }
      }
      @media (min-width: $screen-sm) {
        order: 1;
      }
    }
  }
}

// === / header ===
